.bg-color{
    background-color: #506AD4;
    margin: 20px; 
    padding: 3px;
}


.yellow-text{
    color: #F2CC39;
    font-family: 'Courier Prime', monospace; 
    font-size: 60px;
    font-weight: lighter;
}

li, a{
    color: #F2CC39;
    font-family: 'Courier Prime', monospace; 
    font-size: 30px;
    list-style: none;
    text-decoration: none;
}

#logo1{
    width: 170px;
}

.section{
    background-color: #A3CDD9; 
     color: #58595B;
     margin: 20px;
     width: 500px;
}