* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #FCE1B1;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#logo{
	width: 200px;
	display:block;
	margin:auto;
	padding-top: 15px;
}

.black-text{
	color: #000;
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: 600;
	padding-left: 111.555px;
	margin-bottom: 30px;
}

a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #CA3C26;

}

.contenedor2 {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: grid;
    grid-template-columns: 1fr 3fr;
	gap: 20px;
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;

	display: grid;
    grid-template-columns: 3fr 1fr;
	gap: 20px;
}

.contenedor-conciertos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}

.card .textos {
	height: 100%;
	
	
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    font-family: 'Dosis', sans-serif;
	font-weight: 500;
    color: #ffffff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.banner, p {
	font-weight: 300;
	font-size: 20px;
}

.banner .boton {
	background: #32965D;
	color:#ffffff;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Dosis', sans-serif;
	cursor: pointer;
}

#logo2{
	width: 150px;
	display:block;
	margin:auto;
	margin-bottom: 20px;
}

.footer-text{
	color: #000;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 30px;
}

#email{
	color: #CA3C26;
	font-size: 21px;
}