
.bg-img{
    background-image: url(img-index/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header{
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    margin: -7px;
}

.header > h1{
    display: inline-block;
    text-align: left;
    margin-left: 25px;
}

.header > img{
    width: 100px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
}

.menu > ul{
    display: flex;
    list-style: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.75em;
    padding: 0;
    margin: 10px 0 0 0;
}

.menu > ul > li{
    padding: 15px;
}

.menu > ul > li > a{
    color: #D5F2F2;
    text-decoration: none;
    background-color: #055C6B;
    border-radius: 12%;
    padding: 7px;
}

.link:hover{
    color: #055C6B;
    background-color: #D5F2F2;
}

.main{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #094550;
}

.portafolio{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

@media screen and (max-width:500px){
    .menu > ul{
        display: block;
        justify-content: center;
        padding: 0; 
        width: 100%;
        height: auto;
    }
    .nav-items{
        margin: 5px 0px;
        width: 80px;
    }
    .items-menu{
        display: block;
        justify-content: space-between;
        text-align: center;
    }
    .item{
        width: 90%;
        margin-bottom: 30%;
        display: block;
    }
    .header{
        padding: 0;
        margin-bottom: 10px;
        display: block;
        justify-content: space-between;
        align-content: flex-start;
    }
}

@media screen and (min-width:505px){
    .item{
        width: 70%;
    }    
    nav{
        height: 120px;
    }
}

@media screen and (min-width:700px){
    .item{
        width: 70%;
    }    
    nav{
        height: 75px;
        align-content: flex-start;
    }
}

@media screen and (min-width:980px){
    .item{
        width: 80%;
    }
}

@media screen and (min-width:1040px){
    .class-marca{
        margin-bottom: 10px;
    }
    .class-header{
        display: block;
        justify-content: space-between;
        align-content: center;
    }
}

@media screen and (min-width:1200px){
    .item{
        width: 22%;
    }    
    .class-header{
        padding: 0px 60px;
    }
    main{
        padding: 20px 50px;
    }
}